.finalImgsUploadContainer{
    width: 480px;
    height: 100%;
    border-right: 1px solid rgb(183, 183, 183);
    overflow: hidden;
    position: relative;
    .spinner {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #ff4220;;
        animation: spin 1s linear infinite;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .finalImgsContainer{
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        transition: transform 0.4s ease;
        position: relative;
        .finalImgsItem{
            min-width: 480px;
            height: 320px;
        }
    }
    .imgArrowButton{
        position: absolute;
        top: 50%;
        z-index: 10;
        right: 10px;
        background-color: white;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        .navIcons{
            font-size: 15px;
        }
    }
    .nextImgButton{
        right: 10px;
    }
    .preImgButton{
        left: 10px;
    }

}


@media(max-width: 900px) {
    .finalImgsUploadContainer{ 
        width: 320px;
        min-height: 215px;
        .finalImgsContainer{
            height: 215px;
            .finalImgsItem{
                min-width: 320px;
                height: 215px;
            }
        }
    }
}